.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 64px;
  .row {
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
    flex-wrap: wrap;
    .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h2:nth-child(3) {
        font-size: clamp(2em, 3vw, 2.2em);
        font-family: var(--font-space);
        color: black;
      }
      p {
        position: absolute;
        text-wrap: nowrap;
        top: 20%;
        right: -64px;
        border-radius: 16px;
        padding: 28px;
        font-family: var(--font-space);
        font-weight: 700;
        background-color: var(--color-secondary);
        box-shadow: 0 20px 44px rgba(0, 0, 0, 0.26);
        span {
          color: var(--color-primary);
          font-size: 1.2em;
          border-bottom: 2px solid black;
        }
      }
    }
    .right {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      p {
        font-size: 1.12em;
        font-family: var(--font-para);
        span {
          font-weight: bold;
        }
      }


      // reviews container
      .reviews-container {
        display: flex;
        justify-content: start;
        gap: 20px;
        align-items: stretch;
        flex-wrap: wrap;

        .review-card {
          padding: 16px;
          border: 1px solid rgba(0, 0, 0, 0.171);
          width: 350px;
          border-radius: 16px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: stretch;
          text-wrap: wrap;
          h2 {
            padding: 0;
            margin-top: 0 !important;
            font-weight: bold;
            color: black;      
          }
          p:nth-child(3) {
            font-family: var(--font-space);
            font-weight: bold;
            text-transform: capitalize;
            color: var(--color-primary);
            // margin-block: 8px;
          }

          p {
            font-size: 0.85em;
          }
        }
        .review-card:nth-child(even) {
          background-color: rgba(192, 192, 192, 0.164);
          border: none;
        }
      }
    }
    h2 {
      color: var(--color-primary);
      font-weight: 400;
      font-size: 1.2em;
      text-transform: capitalize;
      margin-bottom: 16px;
    }
    h1 {
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 16px;
      font-size: clamp(2em, 4vw, 6em);
    }
  }
  button {
    margin-block: 18px;
    width: auto;
    padding: 20px 30px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: relative;
    button:hover {
      filter: brightness(1) !important;
      background-color: black !important;
    }
    .icon {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    .row {
      width: 94%;
      .right {
        .reviews-container {
          .review-card {
            width: 100%;
          }
        }
      }
    }
  }
}
