.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 64px;
  .row {
    width: 88%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 16px;
    flex-wrap: wrap;
    .head {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h2:nth-child(3) {
        font-size: clamp(2em, 3vw, 2.2em);
        font-family: var(--font-space);
        color: black;
      }
      p {
        position: absolute;
        text-wrap: nowrap;
        top: 20%;
        right: -64px;
        border-radius: 16px;
        padding: 28px;
        font-family: var(--font-space);
        font-weight: 700;
        background-color: var(--color-secondary);
        box-shadow: 0 20px 44px rgba(0, 0, 0, 0.26);
        span {
          color: var(--color-primary);
          font-size: 1.2em;
          border-bottom: 2px solid black;
        }
      }
    }
    p {
      font-size: 1.12em;
      font-family: var(--font-para);
      span {
        font-weight: bold;
      }
    }

    // reviews container
    .reviews-container {
      width: 100%;
      display: flex;
      justify-content: start;
      gap: 16px;
      align-items: stretch;
      overflow-x: auto;

      .review-card {
        padding: 16px;
        border: 1px solid rgba(0, 0, 0, 0.171);
        width: 350px;
        flex-shrink: 0;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-container {
          width: 48px;
          border: 1px solid black;
          height: 48px;
          display: flex;
          display: none;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 999px;
          transform: translate(-50%, -50%);

          img {
            width: 100%;
          }
        }
        .rates {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 12px;
          gap: 4px;
          img {
            width: 1.45em;
          }
        }

        h2 {
          padding: 0;
          margin-top: 0;
          font-weight: bold;
          color: black;
        }
        p:nth-child(2) {
          font-family: var(--font-space);
          font-weight: bold;
          text-transform: capitalize;
          color: var(--color-primary);
          margin-bottom: 8px;
        }

        p {
          text-align: center;
          font-size: 0.95em;
        }
      }
      .review-card:nth-child(even) {
        background-color: rgba(192, 192, 192, 0.164);
        border: none;
      }
    }
    h2 {
      color: var(--color-primary);
      font-weight: 400;
      font-size: 1.2em;
      text-transform: capitalize;
      margin-bottom: 16px;
    }
    h1 {
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 16px;
      font-size: clamp(2em, 4vw, 6em);
    }
  }
  button {
    margin-block: 18px;
    width: auto;
    padding: 20px 30px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: relative;
    button:hover {
      filter: brightness(1) !important;
      background-color: black !important;
    }
    .icon {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    .row {
      width: 94%;
      .right {
        .reviews-container {
          flex-wrap: nowrap;
          overflow-x: auto !important;
          .review-card {
            width: 100%;
          }
        }
      }
    }
  }
}

.trip-advisor-container {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-block: 12px;
  img {
    width: 8em;
  }
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 8px;
  a {
    width: 100% !important;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    @media screen and (max-width: 768px) {
      height: 100px;
      display: flex;
      justify-content: start;
      align-items: stretch;
      margin-bottom: 44px !important;
        width: 10em !important;
    }
    img {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;
     
    }
  }
}
