.travel-container {
    width: 100%;
    background-color: black;
    padding-block: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
        width: 88%;
    }
}