.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: rgb(255, 255, 255);
  padding-block: 44px;
  .row {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;

    .footer-card:nth-child(3) {
      img {
        width: 30%;
      }
      p:nth-child(3) 
      {
        font-family: var(--font-space);
        font-weight: bold;
        color: red;
        font-size: 1.1em;
      }
    }
    .footer-card:nth-child(2) {
      img {
        width: 50%;
        margin-block: 20px;
        border-radius: 8px;
      }
    }
    .footer-card:first-child {
      
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-items: flex-start;
      .row {
        width: 100%;
        display: flex;
        justify-content: flex-start;
      }
      .pages {
        text-decoration: none;
        color: var(--color-secondary);
        margin-block: 20px;
        padding-block: 4px;
        border-bottom: 1px solid var(--color-primary);
        opacity: 0.65;
      }
      .pages:hover {
        color: var(--color-primary);
      }
    }
    .footer-card {
      padding: 8px;
      width: 350px;
      flex-grow: 1 300px;
      gap: 8px;
      color: var(--color-secondary);

      h2 {
        margin-bottom: 16px;
        font-size: clamp(1.8em, 3vw, 2.2em);
      }
     
      p {
        font-size: 1em;
        opacity: 0.85;
        font-family: var(--font-para);
        line-height: 1.2;
        color: var(--color-secondary);
        span {
          font-weight: bold;
        }
      }
      .social-icons {
        width: 100%;
        display: flex;
        gap: 8px;
        margin-top: 12px;
        .icon {
          font-size: 3em;
          padding: 12px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          border: 1px solid #ffffff42;
          color: var(--color-secondary);
          border-radius: 999px;
        }
        .icon:hover {
          background-color: var(--color-primary);
          color: var(--color-secondary);
          border:none;
        }
      }
    }
    .footer-card:nth-child(2),
    .footer-card:last-child {
      p {
        padding-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    .row {
      width: 94%;
      .footer-card {
        width: 100%;
        .social-icons {
          .icon {
            font-size: 3.4em;
          padding: 16px;
          }
        }
      }
    }
  }
}
