.sticky-footer-container {
  display: none;
  width: 300px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 12px;
  left: 12px;
  background-color: var(--color-secondary);
  padding: 16px 20px;
  box-shadow: 0 -24px 44px #79797923;
  border: 1px solid rgba(71, 71, 71, 0.274);
  border-radius: 999px;
  background-color: #d6d6d646;
  backdrop-filter: blur(20px);
  .row {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-inline: 12px;

    align-items: center;
    gap: 20px;

    .icon-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 999px;
      img {
        width: 2em;
      }
    }
    p:hover {
      color: var(--color-primary);
      background-color: rgba(48, 48, 48, 0.205);
    }
  }
}

@media screen and (max-width: 768px) {
  .sticky-footer-container {
    display: flex;
  }
}
