.sticky-footer-container {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: var(--color-secondary);
  padding-block: 16px;
  box-shadow: 0 -24px 44px #79797931;
  .row {
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 999px;
      img {
        width: 2.4em;
      }
    }
    p:hover {
      color: var(--color-primary);
      background-color: rgba(48, 48, 48, 0.205);
    }
  }
}

@media screen and (max-width: 768px) {
  .sticky-footer-container {
    display: flex;
  }
}
